name: Terraform Plan

on:
  push:
    paths:
      - "terraform/**"
  pull_request:
    paths:
      - "terraform/**"

jobs:
  terraform-plan:
    name: Terraform Format, Validate & Plan
    runs-on: ubuntu-latest

    env:
      NEON_API_KEY: ${{ secrets.NEON_API_KEY }}
    #   GOOGLE_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS_JSON }}
    #   GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
    #   GCP_REGION: ${{ secrets.GCP_REGION }}

    defaults:
      run:
        working-directory: terraform

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Fmt Check
        run: terraform fmt -check

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -no-color